.fullcli{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.tophalfcli{
    flex-basis: 50%;
    height: 555px;
}

.imgcli{
    margin-top: 80px;
}

.btmhalfcli{
    flex-basis: 50%;
}

.cntnowcli{
    font-size: 18px;
    margin-top: 0px;
    color: #b1afaf;
    margin-top: 3%;
}

.getyourcli{
    font-size: 36px;
    margin-bottom: 0px;
}
.towlinecli{
    padding: 5%;
}

.cliname{
    color: #07249e;
    font-size: large;
    margin-top: 5%;
}

.designat{
    color: #07249e;
}

@media only screen and (max-width: 425px){
    .imgcli{
        width:400px;
        height: 400px;
    }
    .btmhalfcli{
        flex-basis: 80%;
    }
    .towlinecli{
        padding: 0px;
    }
}